*.pyc
dataset/*
data model output/*
run
.DS_Store
*.swp
.ipynb_checkpoints/*
.ipynb_checkpoints/GAN-checkpoint.ipynb
playground.ipynb
playground.py
process_data.py
process_data.py
sftp-config.json_temp
notebooks/GAN_info.ipynb
notebooks/GAN_play.ipynb
sftp-config.json
CRImage/crimage_trials.py
CRImage/test/174___1_116_10_1.jpg
demos/*
demos/er_negative/individual_images/gen_0.png
demos/er_negative/individual_images/gen_1.png
demos/er_negative/individual_images/gen_10.png
demos/er_negative/individual_images/gen_11.png
demos/er_negative/individual_images/gen_12.png
demos/er_negative/individual_images/gen_13.png
demos/er_negative/individual_images/gen_14.png
demos/er_negative/individual_images/gen_15.png
demos/er_negative/individual_images/gen_16.png
demos/er_negative/individual_images/gen_17.png
demos/er_negative/individual_images/gen_18.png
demos/er_negative/individual_images/gen_19.png
demos/er_negative/individual_images/gen_2.png
demos/er_negative/individual_images/gen_20.png
demos/er_negative/individual_images/gen_21.png
demos/er_negative/individual_images/gen_22.png
demos/er_negative/individual_images/gen_23.png
demos/er_negative/individual_images/gen_24.png
demos/er_negative/individual_images/gen_25.png
demos/er_negative/individual_images/gen_26.png
demos/er_negative/individual_images/gen_27.png
demos/er_negative/individual_images/gen_28.png
demos/er_negative/individual_images/gen_29.png
demos/er_negative/individual_images/gen_3.png
demos/er_negative/individual_images/gen_30.png
demos/er_negative/individual_images/gen_31.png
demos/er_negative/individual_images/gen_32.png
demos/er_negative/individual_images/gen_33.png
demos/er_negative/individual_images/gen_34.png
demos/er_negative/individual_images/gen_35.png
demos/er_negative/individual_images/gen_36.png
demos/er_negative/individual_images/gen_37.png
demos/er_negative/individual_images/gen_38.png
demos/er_negative/individual_images/gen_39.png
demos/er_negative/individual_images/gen_4.png
demos/er_negative/individual_images/gen_40.png
demos/er_negative/individual_images/gen_41.png
demos/er_negative/individual_images/gen_42.png
demos/er_negative/individual_images/gen_43.png
demos/er_negative/individual_images/gen_44.png
demos/er_negative/individual_images/gen_45.png
demos/er_negative/individual_images/gen_46.png
demos/er_negative/individual_images/gen_47.png
demos/er_negative/individual_images/gen_48.png
demos/er_negative/individual_images/gen_49.png
demos/er_negative/individual_images/gen_5.png
demos/er_negative/individual_images/gen_50.png
demos/er_negative/individual_images/gen_51.png
demos/er_negative/individual_images/gen_52.png
demos/er_negative/individual_images/gen_53.png
demos/er_negative/individual_images/gen_54.png
demos/er_negative/individual_images/gen_55.png
demos/er_negative/individual_images/gen_56.png
demos/er_negative/individual_images/gen_57.png
demos/er_negative/individual_images/gen_58.png
demos/er_negative/individual_images/gen_59.png
demos/er_negative/individual_images/gen_6.png
demos/er_negative/individual_images/gen_60.png
demos/er_negative/individual_images/gen_61.png
demos/er_negative/individual_images/gen_62.png
demos/er_negative/individual_images/gen_63.png
demos/er_negative/individual_images/gen_64.png
demos/er_negative/individual_images/gen_65.png
demos/er_negative/individual_images/gen_66.png
demos/er_negative/individual_images/gen_67.png
demos/er_negative/individual_images/gen_68.png
demos/er_negative/individual_images/gen_69.png
demos/er_negative/individual_images/gen_7.png
demos/er_negative/individual_images/gen_70.png
demos/er_negative/individual_images/gen_71.png
demos/er_negative/individual_images/gen_72.png
demos/er_negative/individual_images/gen_73.png
demos/er_negative/individual_images/gen_74.png
demos/er_negative/individual_images/gen_75.png
demos/er_negative/individual_images/gen_76.png
demos/er_negative/individual_images/gen_77.png
demos/er_negative/individual_images/gen_78.png
demos/er_negative/individual_images/gen_79.png
demos/er_negative/individual_images/gen_8.png
demos/er_negative/individual_images/gen_80.png
demos/er_negative/individual_images/gen_81.png
demos/er_negative/individual_images/gen_82.png
demos/er_negative/individual_images/gen_83.png
demos/er_negative/individual_images/gen_84.png
demos/er_negative/individual_images/gen_85.png
demos/er_negative/individual_images/gen_86.png
demos/er_negative/individual_images/gen_87.png
demos/er_negative/individual_images/gen_88.png
demos/er_negative/individual_images/gen_89.png
demos/er_negative/individual_images/gen_9.png
demos/er_negative/individual_images/gen_90.png
demos/er_negative/individual_images/gen_91.png
demos/er_negative/individual_images/gen_92.png
demos/er_negative/individual_images/gen_93.png
demos/er_negative/individual_images/gen_94.png
demos/er_negative/individual_images/gen_95.png
demos/er_negative/individual_images/gen_96.png
demos/er_negative/individual_images/gen_97.png
demos/er_negative/individual_images/gen_98.png
demos/er_negative/individual_images/gen_99.png
demos/er_negative/neigbor_selected.jpg
demos/er_negative/neighbors_min_dist.jpg
demos/er_positive/individual_images/gen_0.png
demos/er_positive/individual_images/gen_1.png
demos/er_positive/individual_images/gen_10.png
demos/er_positive/individual_images/gen_11.png
demos/er_positive/individual_images/gen_12.png
demos/er_positive/individual_images/gen_13.png
demos/er_positive/individual_images/gen_14.png
demos/er_positive/individual_images/gen_15.png
demos/er_positive/individual_images/gen_16.png
demos/er_positive/individual_images/gen_17.png
demos/er_positive/individual_images/gen_18.png
demos/er_positive/individual_images/gen_19.png
demos/er_positive/individual_images/gen_2.png
demos/er_positive/individual_images/gen_20.png
demos/er_positive/individual_images/gen_21.png
demos/er_positive/individual_images/gen_22.png
demos/er_positive/individual_images/gen_23.png
demos/er_positive/individual_images/gen_24.png
demos/er_positive/individual_images/gen_25.png
demos/er_positive/individual_images/gen_26.png
demos/er_positive/individual_images/gen_27.png
demos/er_positive/individual_images/gen_28.png
demos/er_positive/individual_images/gen_29.png
demos/er_positive/individual_images/gen_3.png
demos/er_positive/individual_images/gen_30.png
demos/er_positive/individual_images/gen_31.png
demos/er_positive/individual_images/gen_32.png
demos/er_positive/individual_images/gen_33.png
demos/er_positive/individual_images/gen_34.png
demos/er_positive/individual_images/gen_35.png
demos/er_positive/individual_images/gen_36.png
demos/er_positive/individual_images/gen_37.png
demos/er_positive/individual_images/gen_38.png
demos/er_positive/individual_images/gen_39.png
demos/er_positive/individual_images/gen_4.png
demos/er_positive/individual_images/gen_40.png
demos/er_positive/individual_images/gen_41.png
demos/er_positive/individual_images/gen_42.png
demos/er_positive/individual_images/gen_43.png
demos/er_positive/individual_images/gen_44.png
demos/er_positive/individual_images/gen_45.png
demos/er_positive/individual_images/gen_46.png
demos/er_positive/individual_images/gen_47.png
demos/er_positive/individual_images/gen_48.png
demos/er_positive/individual_images/gen_49.png
demos/er_positive/individual_images/gen_5.png
demos/er_positive/individual_images/gen_50.png
demos/er_positive/individual_images/gen_51.png
demos/er_positive/individual_images/gen_52.png
demos/er_positive/individual_images/gen_53.png
demos/er_positive/individual_images/gen_54.png
demos/er_positive/individual_images/gen_55.png
demos/er_positive/individual_images/gen_56.png
demos/er_positive/individual_images/gen_57.png
demos/er_positive/individual_images/gen_58.png
demos/er_positive/individual_images/gen_59.png
demos/er_positive/individual_images/gen_6.png
demos/er_positive/individual_images/gen_60.png
demos/er_positive/individual_images/gen_61.png
demos/er_positive/individual_images/gen_62.png
demos/er_positive/individual_images/gen_63.png
demos/er_positive/individual_images/gen_64.png
demos/er_positive/individual_images/gen_65.png
demos/er_positive/individual_images/gen_66.png
demos/er_positive/individual_images/gen_67.png
demos/er_positive/individual_images/gen_68.png
demos/er_positive/individual_images/gen_69.png
demos/er_positive/individual_images/gen_7.png
demos/er_positive/individual_images/gen_70.png
demos/er_positive/individual_images/gen_71.png
demos/er_positive/individual_images/gen_72.png
demos/er_positive/individual_images/gen_73.png
demos/er_positive/individual_images/gen_74.png
demos/er_positive/individual_images/gen_75.png
demos/er_positive/individual_images/gen_76.png
demos/er_positive/individual_images/gen_77.png
demos/er_positive/individual_images/gen_78.png
demos/er_positive/individual_images/gen_79.png
demos/er_positive/individual_images/gen_8.png
demos/er_positive/individual_images/gen_80.png
demos/er_positive/individual_images/gen_81.png
demos/er_positive/individual_images/gen_82.png
demos/er_positive/individual_images/gen_83.png
demos/er_positive/individual_images/gen_84.png
demos/er_positive/individual_images/gen_85.png
demos/er_positive/individual_images/gen_86.png
demos/er_positive/individual_images/gen_87.png
demos/er_positive/individual_images/gen_88.png
demos/er_positive/individual_images/gen_89.png
demos/er_positive/individual_images/gen_9.png
demos/er_positive/individual_images/gen_90.png
demos/er_positive/individual_images/gen_91.png
demos/er_positive/individual_images/gen_92.png
demos/er_positive/individual_images/gen_93.png
demos/er_positive/individual_images/gen_94.png
demos/er_positive/individual_images/gen_95.png
demos/er_positive/individual_images/gen_96.png
demos/er_positive/individual_images/gen_97.png
demos/er_positive/individual_images/gen_98.png
demos/er_positive/individual_images/gen_99.png
demos/er_positive/neigbor_selected.jpg
demos/er_positive/neighbors_min_dist.jpg
demos/linear_grid.gif
demos/original_tma.jpg
demos/survival_negative/neigbor_selected.jpg
demos/survival_negative/neighbors_min_dist.jpg
demos/survival_postive/neigbor_selected.jpg
demos/survival_postive/neighbors_min_dist.jpg
demos/training_tw.gif
demos/unconditional/neigbor_selected.jpg
demos/unconditional/neighbors_min_dist.jpg
