*.pyc
dataset/*
data model output/*
run
.DS_Store
*.swp
.ipynb_checkpoints/*
.ipynb_checkpoints/GAN-checkpoint.ipynb
playground.ipynb
playground.py
process_data.py
process_data.py
sftp-config.json_temp
